@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');
.main-footer {
    padding: 15px 20px; /* Un poco más de padding vertical para que quede elegante */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Esto garantiza que si hay poco texto, el footer baje al fondo */

    /* Opcional: Para darle un toque visual que separe el footer del contenido */
    background-color: #f8f9fa;
    border-top: 1px solid #eaeaea;
    color: #6c757d;
    font-size: 0.85rem;
}